<!DOCTYPE html>
<html>
<head>
	<title>SS configure</title>
</head>
<body>
		<h3>当前服务信息</h3>
		<ol><span>Port:</span> <span> </span> <span>{{ current_record.port }}</span></ol>
		<ol><span>Pass:</span> <span> </span> <span>{{ current_record.passwd }}</span></ol>
        <ol><span>Code:</span> <span> </span> <span>{{ current_record.encode }}</span></ol>
        <ol><span>Rebuild Time:</span> <span> </span> <span>{{ current_record.created_time }}</span></ol>
        <h3>重建SS服务</h3>
        <form action="{% url 'ssreborn:ssreborn' %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="{{ form.name.id_for_label }}">Port：</label>
                    {{ form.port }}
                    {{ form.port.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.email.id_for_label }}">Pass：</label>
                    {{ form.passwd }}
                    {{ form.passwd.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.url.id_for_label }}">Encode:</label>
                    {{ form.encode }}
                    {{ form.encode.errors }}
                </div>
                <div class="col-md-12">
                	<button type="submit" class="comment-btn">Rebuild</button>
                    
                </div>
            </div>    <!-- row -->
        </form>
</body>
</html>